.OrderSummary{
    text-align: start;
}

.Button-success{
    background-color: transparent;
    border: none;
    color: #5C9210;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button-success:hover{
    background-color: #ccc;
}

.Button-dangerus{
    background-color: transparent;
    border: none;
    color: #944317;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button-dangerus:hover{
    background-color: #ccc;
}